name: Build
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  pkg-aarch64:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        package:
          - linux-nanopi-r4s
    permissions:
      artifact-metadata: write
      packages: write
    steps: &pkg-steps
      - uses: docker/setup-buildx-action@v3.12.0
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6.10.0
        with:
          targets: ${{ matrix.package }}
          provenance: false # to avoid creating provenance.json
          set: |
            *.args.PACKAGER="Tosainu <6215720+Tosainu@users.noreply.github.com>"
            ${{ format('{0}.cache-from=type=registry,ref=ghcr.io/tosainu/pkgbuilds/caches/{1}/{0}:main', matrix.package, github.job) }}
            ${{ github.ref == 'refs/heads/main' && format('{0}.cache-to=type=registry,ref=ghcr.io/tosainu/pkgbuilds/caches/{1}/{0}:main,mode=min', matrix.package, github.job) || '' }}
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ github.job }}-${{ matrix.package }}
          compression-level: 0
          path: './build'

  pkg-any:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        package:
          - wilc-firmware
    permissions:
      artifact-metadata: write
      packages: write
    steps: *pkg-steps
 
  repo:
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    needs:
      - pkg-aarch64
      - pkg-any
    outputs:
      digest: ${{ fromJSON(steps.bake.outputs.metadata).repo['containerimage.digest'] }}
    steps:
      - uses: actions/download-artifact@v7.0.0
        with:
          path: pkgs
          pattern: pkg-{aarch64,any}-*
          merge-multiple: true
      - uses: docker/setup-buildx-action@v3.12.0
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6.10.0
        id: bake
        with:
          targets: repo
          provenance: false # to avoid creating "multi-platform" image
          set: |
            repo.args.REPO_NAME=myon
            repo.contexts.pkgs=cwd://pkgs
            repo.secrets=type=env,id=GPG_KEY_FILE
            repo.secrets=type=env,id=GPG_KEY_ID
            repo.tags=ghcr.io/tosainu/pkgbuilds/aarch64:main
            repo.output=type=local,dest=./repo
            ${{ github.ref == 'refs/heads/main' && 'repo.output=type=registry' || '' }}
        env:
          GPG_KEY_FILE: ${{ secrets.GPG_KEY_FILE }}
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
      - run: tar cf repo.tar repo
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: repo
          compression-level: 0
          path: repo.tar

  update-infra:
    runs-on: ubuntu-slim
    needs: repo
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/create-github-app-token@v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          repositories: infra
      - name: Clone Tosainu/infra
        uses: actions/checkout@v6.0.2
        with:
          repository: Tosainu/infra
          token: ${{ steps.app-token.outputs.token }}
          persist-credentials: true
      - name: Update digest in `compose.yaml`
        run: |
          sed -i "/ghcr.io\/tosainu\/pkgbuilds\/aarch64:main/s/sha256:[[:xdigit:]]\{64\}/$DIGEST/" compose.yaml
          git diff --color=always
        env:
          DIGEST: ${{ needs.repo.outputs.digest }}
      - name: Push the changes
        run: |
          git config user.name 'Tosainu'
          git config user.email '6215720+Tosainu@users.noreply.github.com'
          git switch -c "automated/update-pkgbuilds-aarch64/$GITHUB_SHA"
          git add -A
          git commit -m 'Update ghcr.io/tosainu/pkgbuilds/aarch64'
          git push -u origin HEAD
      - name: Create a pull request
        run: gh pr create -B main -t 'Update ghcr.io/tosainu/pkgbuilds/aarch64' -b ''
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
