name: Build
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        package:
          - linux-nanopi-r4s
    permissions:
      artifact-metadata: write
      packages: write
    steps:
      - uses: docker/setup-buildx-action@v3.12.0
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6.10.0
        with:
          targets: ${{ matrix.package }}
          provenance: false # to avoid creating provenance.json
          set: |
            ${{ matrix.package }}.cache-from=type=registry,ref=ghcr.io/tosainu/pkgbuilds/caches/aarch64/${{ matrix.package }}:main
            ${{ matrix.package }}.cache-to=type=registry,ref=ghcr.io/tosainu/pkgbuilds/caches/aarch64/${{ matrix.package }}:main,mode=min
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: pkg-${{ matrix.package }}
          compression-level: 0
          path: './build'

  repo:
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    needs: build
    outputs:
      digest: ${{ fromJSON(steps.bake.outputs.metadata).repo['containerimage.digest'] }}
    steps:
      - uses: actions/download-artifact@v7.0.0
        with:
          path: pkgs
          pattern: pkg-*
          merge-multiple: true
      - uses: docker/setup-buildx-action@v3.12.0
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6.10.0
        id: bake
        with:
          targets: repo
          push: true
          provenance: false # to avoid creating "multi-platform" image
          set: |
            repo.args.REPO_NAME=myon
            repo.contexts.pkgs=cwd://pkgs
            repo.tags=ghcr.io/tosainu/pkgbuilds/aarch64:main

  update-infra:
    runs-on: ubuntu-slim
    needs: repo
    steps:
      - uses: actions/create-github-app-token@v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          repositories: infra
      - name: Clone Tosainu/infra
        uses: actions/checkout@v6.0.2
        with:
          repository: Tosainu/infra
          token: ${{ steps.app-token.outputs.token }}
          persist-credentials: true
      - name: Update digest in `compose.yaml`
        run: |
          sed -i "/ghcr.io\/tosainu\/pkgbuilds\/aarch64:main/s/sha256:[[:xdigit:]]\{64\}/$DIGEST/" compose.yaml
          git diff --color=always
        env:
          DIGEST: ${{ needs.repo.outputs.digest }}
      - name: Push the changes
        run: |
          git config user.name 'Tosainu'
          git config user.email '6215720+Tosainu@users.noreply.github.com'
          git switch -c "automated/update-pkgbuilds-aarch64/$GITHUB_SHA"
          git add -A
          git commit -m 'Update ghcr.io/tosainu/pkgbuilds/aarch64'
          git push -u origin HEAD
      - name: Create a pull request
        run: gh pr create -B main -t 'Update ghcr.io/tosainu/pkgbuilds/aarch64' -b ''
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
