name: Build
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        package:
          - linux-nanopi-r4s
    permissions:
      artifact-metadata: write
      contents: read
      packages: write
    steps:
      - uses: docker/setup-buildx-action@v3.12.0
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6.10.0
        with:
          targets: ${{ matrix.package }}
          set: |
            ${{ matrix.package }}.cache-from=type=registry,ref=ghcr.io/tosainu/pkgbuilds/caches/aarch64/${{ matrix.package }}:main
            ${{ matrix.package }}.cache-to=type=registry,ref=ghcr.io/tosainu/pkgbuilds/caches/aarch64/${{ matrix.package }}:main,mode=min
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: pkg-${{ matrix.package }}
          compression-level: 0
          path: './build'

  repo:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      packages: write
    needs: build
    steps:
      - uses: actions/download-artifact@v7.0.0
        with:
          path: pkgs
          pattern: pkg-*
          merge-multiple: true
      - uses: docker/setup-buildx-action@v3.12.0
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6.10.0
        with:
          targets: repo
          push: true
          set: |
            repo.args.REPO_NAME=myon
            repo.contexts.pkgs=cwd://pkgs
            repo.tags=ghcr.io/tosainu/pkgbuilds/aarch64:main
